## Loan Data Cleaning Pipeline
Complete Data Cleaning Workflow

## Step 1: Import Libraries

In [1]:
import pandas as pd
import numpy as np

print("Libraries Imported Successfully âœ…")

Libraries Imported Successfully âœ…

### Step 2: Load Dataset

If your file is uploaded manually in Colab:

In [2]:
# Load dataset
df = pd.read_csv('loan_prediction.csv')

df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

### Step 3: Understand the Data

In [3]:
# Shape of dataset
print("Dataset Shape:")
print(f"Rows: {df.shape[0]}, Columns: {df.shape[1]}")
print()

# Info
print("Dataset Info:")
df.info()
print()

# Summary Statistics
print("Summary Statistics:")
print(df.describe(include='all'))

Dataset Shape:
Rows: 614, Columns: 13

Dataset Info:
<class 'pandas.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    str
 1   Gender             601 non-null    str
 2   Married            611 non-null    str
 3   Dependents         599 non-null    str
 4   Education          614 non-null    str
 5   Self_Employed      582 non-null    str
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    str
 12  Loan_Status        614 non-null    str
dtypes: float64(4), int64(1), str(8)
memory usage: 62.5 KB

Summary Statistics:
         Loan_ID Gender Married Dependents Education Self_Employed  \
count        614    601     611        599       614           582
unique       614      2       2          4         2             2
top     LP001002   Male     Yes          0  Graduate            No
freq           1    489     398        345       480           500
mean         NaN    NaN     NaN        NaN       NaN           NaN
std          NaN    NaN     NaN        NaN       NaN           NaN
min          NaN    NaN     NaN        NaN       NaN           NaN
25%          NaN    NaN     NaN        NaN       NaN           NaN
50%          NaN    NaN     NaN        NaN       NaN           NaN
75%          NaN    NaN     NaN        NaN       NaN           NaN
max          NaN    NaN     NaN        NaN       NaN           NaN

        ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
count        614.000000         614.000000  592.000000         600.00000
unique              NaN                NaN         NaN               NaN
top                 NaN                NaN         NaN               NaN
freq                NaN                NaN         NaN               NaN
mean        5403.459283        1621.245798  146.412162         342.00000
std         6109.041673        2926.248369   85.587325          65.12041
min          150.000000           0.000000    9.000000          12.00000
25%         2877.500000           0.000000  100.000000         360.00000
50%         3812.500000        1188.500000  128.000000         360.00000
75%         5795.000000        2297.250000  168.000000         360.00000
max        81000.000000       41667.000000  700.000000         480.00000

        Credit_History Property_Area Loan_Status
count       564.000000           614         614
unique             NaN             3           2
top                NaN     Semiurban           Y
freq               NaN           233         422
mean          0.842199           NaN         NaN
std           0.364878           NaN         NaN
min           0.000000           NaN         NaN
25%           1.000000           NaN         NaN
50%           1.000000           NaN         NaN
75%           1.000000           NaN         NaN
max           1.000000           NaN         NaN

### Step 4: Check Missing Values

In [4]:
# Missing values summary
missing = df.isnull().sum()
missing = missing[missing > 0].sort_values(ascending=False)

print("Missing Values:")
print(missing)

Missing Values:
Credit_History      50
Self_Employed       32
LoanAmount          22
Dependents          15
Loan_Amount_Term    14
Gender              13
Married              3
dtype: int64

### Step 5: Handle Missing Values (Improved Way)

âš ï¸ We will NOT use `inplace=True`  
âš ï¸ We will NOT modify original dataframe

In [5]:
# Create copy
df_clean = df.copy()

# Separate columns
cat_cols = df_clean.select_dtypes(include='object').columns
num_cols = df_clean.select_dtypes(include=['int64', 'float64']).columns

# Fill categorical columns with mode
for col in cat_cols:
    if df_clean[col].isnull().sum() > 0:
        mode_value = df_clean[col].mode()[0]
        df_clean[col] = df_clean[col].fillna(mode_value)

# Fill numerical columns with median
for col in num_cols:
    if df_clean[col].isnull().sum() > 0:
        median_value = df_clean[col].median()
        df_clean[col] = df_clean[col].fillna(median_value)

print("Missing Values Handled âœ…")

C:\Users\madna\AppData\Local\Temp\ipykernel_4140\1138151740.py:5: Pandas4Warning: For backward compatibility, 'str' dtypes are included by select_dtypes when 'object' dtype is specified. This behavior is deprecated and will be removed in a future version. Explicitly pass 'str' to `include` to select them, or to `exclude` to remove them and silence this warning.
See https://pandas.pydata.org/docs/user_guide/migration-3-strings.html#string-migration-select-dtypes for details on how to write code that works with pandas 2 and 3.
  cat_cols = df_clean.select_dtypes(include='object').columns

Missing Values Handled âœ…

### Step 6: Fix Special Column (Dependents)

Dependents column contains "3+" â†’ we convert it to 3

In [6]:
# Replace 3+ with 3
df_clean['Dependents'] = df_clean['Dependents'].replace('3+', '3')

# Convert to numeric
df_clean['Dependents'] = pd.to_numeric(df_clean['Dependents'])

### Step 7: Standardize Text Columns

In [7]:
for col in cat_cols:
    df_clean[col] = df_clean[col].str.strip().str.lower()

print("Text Standardized âœ…")

AttributeError: Can only use .str accessor with string values, not integer

## ðŸŸ¢ Step 8: Convert Categorical Columns to Category Type

In [ ]:
for col in cat_cols:
    df_clean[col] = df_clean[col].astype('category')

print("Data Types Fixed âœ…")

## ðŸŸ¢ Step 9: Handle Outliers (Capping at 99%)

In [ ]:
outlier_cols = ['LoanAmount', 'ApplicantIncome']

for col in outlier_cols:
    if col in df_clean.columns:
        upper = df_clean[col].quantile(0.99)
        df_clean[col] = np.where(df_clean[col] > upper, upper, df_clean[col])

print("Outliers Capped âœ…")

## ðŸŸ¢ Step 10: Drop Unnecessary Column

Loan_ID is not useful for ML.

In [ ]:
df_clean = df_clean.drop(columns=['Loan_ID'])

print("Loan_ID Removed âœ…")

## ðŸŸ¢ Step 11: Final Clean Dataset Check

In [ ]:
print("Final Dataset Info:")
df_clean.info()

print()
print("Remaining Missing Values:")
print(df_clean.isnull().sum())

## ðŸŸ¢ Step 12: Save Clean Dataset

In [ ]:
df_clean.to_csv('cleaned_loan_data.csv', index=False)

print("Cleaned Dataset Saved Successfully ðŸŽ‰")

## ðŸ”¥ BONUS: Final Reusable Pipeline Function

If you want everything inside ONE function:

In [ ]:
def clean_loan_data(df):
    """
    Reusable function to clean loan prediction dataset
    """
    df = df.copy()

    # Separate columns
    cat_cols = df.select_dtypes(include='object').columns
    num_cols = df.select_dtypes(include=['int64', 'float64']).columns

    # Handle missing values
    for col in cat_cols:
        if df[col].isnull().sum() > 0:
            df[col] = df[col].fillna(df[col].mode()[0])

    for col in num_cols:
        if df[col].isnull().sum() > 0:
            df[col] = df[col].fillna(df[col].median())

    # Fix Dependents column
    if 'Dependents' in df.columns:
        df['Dependents'] = df['Dependents'].replace('3+', '3')
        df['Dependents'] = pd.to_numeric(df['Dependents'])

    # Standardize text
    for col in cat_cols:
        df[col] = df[col].str.strip().str.lower()

    # Convert to category
    for col in cat_cols:
        df[col] = df[col].astype('category')

    # Outlier handling
    for col in ['LoanAmount', 'ApplicantIncome']:
        if col in df.columns:
            upper = df[col].quantile(0.99)
            df[col] = np.where(df[col] > upper, upper, df[col])

    # Drop Loan_ID
    if 'Loan_ID' in df.columns:
        df = df.drop(columns=['Loan_ID'])

    return df

### Usage Example

In [ ]:
# Load original dataset
df = pd.read_csv('loan_prediction.csv')

# Apply cleaning function
df_clean = clean_loan_data(df)

# Verify results
print("Cleaning completed!")
print(df_clean.head())